<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="startGame()">Start Game</button>
    </div>
  </div>

  <span *ngFor="let item of generateArray(100); let i = index;" class="result"> </span>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success" (click)="compileResults()">Compile Results</button>
    </div>
  </div>

  <div class="row" *ngIf="gameResults">
    <div class="col-md-2">
      Games Played: {{ gameCount }}
    </div>
    <div class="col-md-10">
      <span 
        *ngFor="let result of gameResults"
        class="badge result"
        [ngClass]="{'badge-light': result > 0, 'badge-dark': result < 0}">
        {{ result }}
      </span>
    </div>
  </div>

  <div class="row" *ngIf="gameCount">
    <div class="col-md-3">
      {{ playerWhite?.name }}: {{ whiteWins }}-{{ blackWins }}-{{ draws }}
    </div>
    <div class="col-md-3">
      {{ playerBlack?.name }}: {{ blackWins }}-{{ whiteWins }}-{{ draws }}
    </div>
  </div>

  <div class="row" *ngFor="let fen of fens">
    <div class="col-md-12">
      {{ fen }}
    </div>
  </div>

  <div>{{finalPGN}}</div>
</div>